<?php
/* @var $block \LOOP\FeaturedProducts\Block\Products\Featured */
/* @var $escaper \Magento\Framework\Escaper */
?>
<?php
if ($exist = ($block->getFeaturedProduct() && $block->getFeaturedProduct()->getSize())) {
    $featuredProducts = $block->getFeaturedProduct();
    $productcount = $block->getData('product_count');
    $imageWidth = '500';
    $imageHeight = '500';
    $mode = 'grid';
    $title = __('Features');
    $type = 'featured-products-grid';
    $image = 'featured_products_content_widget_grid';
}
?>
<?php if ($exist): ?>
    <div class="block block-featured-products <?= $mode ?>">
        <div class="block-title">
            <h2 class="title"><?= $title ?></h2>
            <h3 class="sub-title"><?= __('Here’s what’s trending on B&O right now') ?></h3>
        </div>
        <div class="block-content">
            <div class="products-<?= $mode ?> <?= $mode; ?>">
                <ol class="product-items <?= $type ?>">
                    <?php foreach ($featuredProducts as $product): ?>
                        <li class="product-item">
                            <?php
                            $image_url = $block->imageHelperObj()
                                ->init($product, 'product_page_image_small')
                                ->setImageFile($product->getFile())
                                ->resize($imageWidth, $imageHeight)
                                ->getUrl();
                            ?>

                            <div class="product-item-image">
                                <a href="<?= $product->getProductUrl() ?>" class="product-item-photo">
                                    <img src="<?= $image_url; ?>" alt="<?= $escaper->escapeHtml($product->getName()) ?>" />
                                </a>
                            </div>

                            <div class="product-item-details">
                                <h4 class="product-item-name">
                                    <a title="<?= $escaper->escapeHtml($product->getName()) ?>"
                                       href="<?= $product->getProductUrl() ?>"
                                       class="product-item-link">
                                        <?= $escaper->escapeHtml($product->getName()) ?>
                                    </a>
                                </h4>
                                <div class="product-item-description">
                                    <p><?= $escaper->escapeHtml($product->getShortDescription()) ?></p>
                                </div>
                                <?= $block->getProductPriceHtml($product, $type);?>
                                <div class="product-item-actions">
                                    <div class="actions-primary">
                                        <?php
                                        if ($product->isSaleable()): ?>
                                            <?php
                                            if ($product->getTypeInstance()->hasRequiredOptions($product)): ?>
                                                <button class="action tocart primary"
                                                        data-mage-init='{"redirectUrl":{"url":"<? $block->getAddToCartUrl($product) ?>"}}'
                                                        type="button" title="<?= __('Add to Cart') ?>">
                                                    <span><?= __('Add to Cart') ?></span>
                                                </button>
                                            <?php else: ?>
                                                <?php
                                                $postDataHelper = $block->postHelper();
                                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($product) , ['product' => $product->getId() ]);
                                                ?>
                                                <button class="action tocart primary"
                                                        data-post='<?= $postData; ?>'
                                                        type="button" title="<?= __('Add to Cart') ?>">
                                                    <span><?= __('Add to Cart') ?></span>
                                                </button>
                                            <?php endif; ?>
                                        <?php else: ?>
                                            <?php if ($product->getIsSalable()): ?>
                                                <div class="stock available">
                                                    <span><?= __('In stock') ?></span>
                                                </div>
                                            <?php else: ?>
                                                <div class="stock unavailable">
                                                    <span><?= __('Out of stock') ?></span>
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <?php endforeach ?>
                </ol>
            </div>
        </div>
    </div>
<?php endif; ?>
