<?php
/* @var LOOP\Checkout\Block\Order\CustomFields $block */
/* @var $customFields LOOP\Checkout\Model\Data\OrderCustomFields */
/* @var $escaper \Magento\Framework\Escaper */

$customFields = $block->getCustomFields($block->getOrder());
?>
<?php if($customFields): ?>
    <div class="block block-order-details-view">
        <div class="block-content">
            <div class="box">
                <strong class="box-title"><span><?= __('Other information') ?></span></strong>
                <div class="box-content">
                    <strong><?= __('Purpose') ?>:</strong>
                    <?= $escaper->escapeHtml($customFields->getCheckoutPurpose()); ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
