<?php
/* @var $block Magento\Backend\Block\Template */
/* @var $escaper \Magento\Framework\Escaper */
/* @var $customFields LOOP\Checkout\Model\Data\OrderCustomFields */

$customFields = $block->getOrderCustomFields();
?>

<?php if($customFields): ?>
    <section class="admin__page-section">
        <div class="admin__page-section-title">
            <span class="title"><?= __('Other information') ?></span>
        </div>
        <div class="admin__page-section-content">
            <div class="order-information">
                <div class="box">
                    <strong class="box-title">
                        <span><?= __('Purpose') ?></span>
                    </strong>
                    <div class="box-content">
                        <?= $escaper->escapeHtml($customFields->getCheckoutPurpose()); ?>
                    </div>
                </div>
            </div>
        </div>
    </section>
<?php endif; ?>
