//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'QuickSand Regular', Arial, sans-serif;

@heading__font-family__base: 'QuickSand Medium', Arial, sans-serif;

@black: '#252525';
@gray: rgba(37, 37, 37, 0.8);
@gray-light: rgba(37, 37, 37, 0.5);
@gray-lighter: rgba(37, 37, 37, 0.3);
@hover-bg: '#D1BFA8';

@h1--font-size: '4.5rem';
@h2--font-size: '4rem';
@h3--font-size: '2rem';
@h4--font-size: '2rem';
