<?php
/* @var $block \LOOP\Customer\Block\Widget\Hobbies */
/* @var $escaper \Magento\Framework\Escaper */

$value = $block->getCustomer()->getCustomAttribute('hobbies')->getValue();
?>

<fieldset class="fieldset">
    <div class="field field-hobbies">
        <label class="label" for="hobbies">
            <span><?= $escaper->escapeHtml($block->getStoreLabel('hobbies')) ?></span>
        </label>
        <div class="control">
            <input type="text" id="hobbies"
                   name="hobbies"
                   value="<?= $escaper->escapeHtmlAttr($value) ?>"
                   title="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('hobbies')) ?>"
                   class="input-text">
        </div>
    </div>
</fieldset>
