& when (@media-common = true) {
    .page-layout-1column {
        .block-featured-products {
            .block-content {
                .featured-products-grid {
                    .product-item {
                        &:hover {
                            background-color: #C0C0C0;
                        }
                    }
                }
            }
        }
    }
}
