& when (@media-common = true) {
    .page-layout-1column {
        .block-featured-products {

            .block-title {
                margin-bottom: 20px;

                .title {
                    margin-bottom: 5px;
                    font-size: 4rem;
                    line-height: 50px;
                    text-align: center;
                }

                .sub-title {
                    margin-top: 5px;
                    margin-bottom: 0;
                    font-size: 2rem;
                    line-height: 25px;
                    text-align: center;
                    color: @gray-light;
                }
            }

            .block-content {
                margin-top: 21px;

                .featured-products-grid {
                    display: flex;
                    flex-wrap: wrap;

                    .product-item {
                        flex: 1 0 21%;
                        margin: 10px;
                        text-align: center;

                        &:nth-child(4n + 1) {
                            margin-left: 0;
                        }

                        &:nth-child(3n + 1) {
                            margin-right: 0;
                        }

                        .product-item-image {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            height: 220px;
                            padding-top: 27px;
                            margin-bottom: 2px;

                            a.product-item-photo {
                                img {
                                    max-height: 160px;
                                }
                            }
                        }

                        .product-item-details {
                            padding: 0 36px 44px 36px;

                            .product-item-name {
                                .product-item-link {
                                    margin-bottom: 3.5px;
                                    color: @gray;
                                    font-size: 2rem;
                                    font-weight: 500;
                                    line-height: 25px;

                                    &:hover {
                                        text-decoration: unset;
                                    }
                                }
                            }

                            .product-item-description {
                                height: 28px;
                                margin-top: 3.5px;
                                margin-bottom: 5.5px;
                                color: @gray-lighter;
                                font-size: 1.1rem;
                                line-height: 14px;
                                overflow: hidden;
                            }

                            .price-box {
                                margin: 5.5px 0 6px;

                                .price {
                                    font-family: 'QuickSand Bold';
                                    font-size: 1.5rem;
                                    line-height: 19px;
                                }
                            }

                            .product-item-actions {
                                .tocart {
                                    &.primary {
                                        display: inline-block;
                                        padding: 6px 17px 7px 16px;
                                        background: #fff;
                                        border: 1px solid #ABABAB;
                                        border-radius: 15.5px;
                                        cursor: pointer;
                                        color: rgba(0, 0, 0, 0.7);
                                        font-family: 'QuickSand Bold';
                                        font-size: 1.1rem;
                                        text-transform: uppercase;
                                        vertical-align: middle;
                                        box-sizing: border-box;
                                        line-height: 14px;
                                    }
                                }
                            }
                        }

                        &:hover {
                            background-color: #D1BFA8;
                            border-radius: 10px;

                            .product-item-name .product-item-link {
                                color: rgba(255, 255, 255, 0.8);
                            }

                            .product-item-description,
                            .price-box .price {
                                color: #fff;
                            }

                            .product-item-actions .tocart.primary {
                                border-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}
